* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: auto;
}

















/* -------------------------------------------------------------------------section1----------------------------------------------- */
/* -------------------------------------------------------------------------section1----------------------------------------------- */
.section1 {
    width: 100%;
    height: 45vh !important;
    background-image: url(../page-header.jpg);
    background-color: #0E1D34;
    background-size: 100% 100%;

}

.section1 .navbar {
    z-index: 342335 !important;
}

.section1 .nav-item {
    display: flex;
    align-items: center;
    margin: 0px 12px;
}

.section1 .nav-item .nav-link {
    font-weight: bold;
}

.section1 .getquote {
    padding: 10px 20px;
}


.section1 .layout {
    width: 100%;
    height: 100%;
    background-color: rgb(21, 34, 52, 0.8);
    padding: 1px;
}

.section1 .crumb {
    height: 7vh;
    width: 100%;
    background-color: #F3F6FC;
}











/* ---------------------------------------------media of section 1------------------------------------------------- */
/* ---------------------------------------------media of section 1------------------------------------------------- */

/* mobile */



@media (max-width:767px) {

    .section1 .getquote {
        padding: 7px 26px;

    }

    .section1 {

        height: 60vh !important;
    }

    .section1 .layout p {
        width: 90% !important;
    }

    .section1 .crumb .crumby {
        margin-left: 10px !important;
    }

    .section1 .navbar-collapse{
        background-color: rgb(14, 29, 52, 0.8) !important;
    }




}



/* tablet */
@media (min-width:768px) and (max-width:991px) {

    .section1 .getquote {
        padding: 7px 15px;
    }

    .section1 {

        height: 175vh;
    }

    .section1 .layout p {
        width: 90% !important;
    }

    .section1 .navbar-collapse{
        background-color: rgb(14, 29, 52, 0.8) !important;
    }
}









/*desktop */
@media (min-width:1200px) {
    .section1 .logis {
        font-size: 35px !important;
    }

    .section1 .nav-item {
        font-size: 17px;
    }

    .section1 {
        width: 100%;
        height: 85vh;
    }

    .section1 .layout p {
        width: 40% !important;

    }
}




/* ---------------------------------------------media of section 1------------------------------------------------- */
/* ---------------------------------------------media of section 1------------------------------------------------- */




/* -------------------------------------------------------------------------section1----------------------------------------------- */
/* -------------------------------------------------------------------------section1----------------------------------------------- */















/* -----------------------------------------------------------------------section2---------------------------------------------------------- */



.section2 ul{
    padding-left: 0px;
}

.section2 ul li{
    list-style-type: none;
    margin: 20px 0px;
}

.section2 ul li span{
    color: #0F42FF;
    border: 1px solid #0F42FF;
    border-radius: 50%;
    padding: 1px;
}

.section2 ul li span .fa-check{
    transform: scale(0.8);
    font-weight: bold;
}


/* -------------------------------------------------------------media section2--------------------------------------------------------- */

/* mobile */



@media (max-width:767px){
    .section2 img{
        height: 30% !important;
    }
}




/* -----------------------------------------------------------------------section2---------------------------------------------------------- */




















/* --------------------------------------------------------------------------ssection3 footer------------------------------------------- */

.section3 {
    height: 50vh;
    background-color: #111D34;
    margin-top: 100px;
}

.section3 .icons .fa-twitter,
.section3 .icons .fa-facebook,
.section3 .icons .fa-instagram,
.section3 .icons .fa-linkedin {
    border: 0.7px solid rgb(255, 255, 255, 0.1);
    border-radius: 50%;
    color: #B8BCC2;
    transition-duration: 0.2s;
}

.section3 .icons .fa-twitter:hover {
    border: 0.8px solid white;
}

.section3 .icons .fa-facebook:hover {
    border: 0.8px solid white;
}

.section3 .icons .fa-instagram:hover {
    border: 0.8px solid white;
}

.section3 .icons .fa-linkedin:hover {
    border: 0.8px solid white;
}

.section3 ul {
    padding-left: 0px;
}

.section3 ul li {
    list-style-type: none;
    margin: 10px 0px;

}

.section3 ul li a {
    color: rgb(255, 255, 255, 0.4);
    text-decoration: none;
    transition-duration: 0.3s;
}

.section3 ul li a:hover {
    color: white;
}








/* ---------------------------------------media footer--------------------------------------------------- */


/* mobile */



@media (max-width:767px){


    .section3 {
        height: 132vh;
        margin-top: 100px;
    }
}




/* tablet */
@media (min-width:768px) and (max-width:991px) {



.section3 {
    height: 100vh;
    margin-top: 100px;


}
}

/* --------------------------------------------------------------------------ssection3 footer------------------------------------------- */