* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: auto;
}











/* -------------------------------------------------------------------------section1----------------------------------------------- */
/* -------------------------------------------------------------------------section1----------------------------------------------- */
.section1 {
    width: 100%;
    height: 45vh !important;
    background-image: url(../page-header.jpg);
    background-color: #0E1D34;
    background-size: 100% 100%;

}

.section1 .navbar {
    z-index: 342335 !important;
}

.section1 .nav-item {
    display: flex;
    align-items: center;
    margin: 0px 12px;
}

.section1 .nav-item .nav-link {
    font-weight: bold;
}

.section1 .getquote {
    padding: 10px 20px;
}


.section1 .layout {
    width: 100%;
    height: 100%;
    background-color: rgb(21, 34, 52, 0.8);
    padding: 1px;
}

.section1 .crumb {
    height: 7vh;
    width: 100%;
    background-color: #F3F6FC;
}


.continuesection1 .fa-cart-flatbed,
.continuesection1 .fa-truck,
.continuesection1 .fa-truck-ramp-box {
    font-size: 55px;
    color: #131D8D;
    transition-duration: 0.3s;

}


/* .continuesection1 .bloq1 .sec1 .fa-cart-flatbed:hover {
    color: #2B39EB;

}

.continuesection1 .fa-truck:hover {
    color: #2B39EB;
}

.continuesection1 .fa-truck-ramp-box:hover {
    color: #2B39EB;
}

.continuesection1 h3:hover {
    color: #2B39EB !important;
}

.continuesection1 .pp:hover {
    color: #2B39EB !important;
} */


.continuesection1 .bloq1:hover .fa-cart-flatbed {
    color: #2B39EB !important;

}

.continuesection1 .bloq1:hover .ll {
    color: #2B39EB !important;

}

.continuesection1 .bloq1:hover .pp {
    color: #2B39EB !important;

}




.continuesection1 .bloq2:hover .fa-truck {
    color: #2B39EB !important;

}

.continuesection1 .bloq2:hover .kk {
    color: #2B39EB !important;

}

.continuesection1 .bloq2:hover .oo {
    color: #2B39EB !important;

}


.continuesection1 .bloq3:hover .fa-truck-ramp-box {
    color: #2B39EB !important;

}

.continuesection1 .bloq3:hover .qq {
    color: #2B39EB !important;

}

.continuesection1 .bloq3:hover .ww {
    color: #2B39EB !important;

}

.section1 .navbar-brand{
    transition-duration: 0.2s;
    transition: all;
}

.section1 .navbar-brand:hover{
    color: #0B5ED7 !important;
    transform: translate(6px,-5px) !important;
}




















/* ---------------------------------------------media of section 1------------------------------------------------- */
/* ---------------------------------------------media of section 1------------------------------------------------- */

/* mobile */



@media (max-width:767px) {

    .section1 .getquote {
        padding: 7px 26px;

    }

    .section1 {

        height: 50vh !important;
    }

    .section1 .layout p {
        width: 90% !important;
    }

    .section1 .crumb .crumby {
        margin-left: 10px !important;
    }

    .continuesection1 {
        height: 75vh !important;
    }


    .section1 .navbar-collapse{
        background-color: rgb(14, 29, 52, 0.8) !important;
    }

}



/* tablet */
@media (min-width:768px) and (max-width:991px) {

    .section1 .getquote {
        padding: 7px 15px;
    }

    .section1 {

        height: 175vh;
    }

    .section1 .layout p {
        width: 90% !important;
    }

    .continuesection1 {
        height: 45vh !important;
    }


    .section1 .navbar-collapse{
        background-color: rgb(14, 29, 52, 0.8) !important;
    }
}









/*desktop */
@media (min-width:1200px) {
    .section1 .logis {
        font-size: 35px !important;
    }

    .section1 .nav-item {
        font-size: 17px;
    }

    .section1 {
        width: 100%;
        height: 85vh;
    }

    .section1 .layout p {
        width: 40% !important;

    }
}




/* ---------------------------------------------media of section 1------------------------------------------------- */
/* ---------------------------------------------media of section 1------------------------------------------------- */




/* -------------------------------------------------------------------------section1----------------------------------------------- */
/* -------------------------------------------------------------------------section1----------------------------------------------- */




























/* -------------------------------------------------------section2 services------------------------------------------------------- */
.section2 {
    height: 145vh;
    /* background-color: red; */
}

.section2 .head {
    height: 15vh;
    /* background-color: green; */
}

.section2 .head .main,
.section2 .head .shad {
    top: 45%;
    left: 42%;
}

.section2 .head .main {
    color: #001973;
    top: 45%;
    left: 38%;
    font-weight: bold;
    font-size: 38px;
}


.section2 .head .shad {
    transform: scale(2);
    color: rgba(172, 175, 179, 0.2);
}

.section2 .card img {
    transition-duration: 0.3s;
}

.section2 .card:hover img {
    transform: scale(1.1);
}



.section2 .card:hover h4 {
    color: #2F4CFF !important;
}

.section2 .cards .card .card-img-top {
    height: 65% !important;
}


.continuesection2 {
    height: 190vh;
    /* background-color: red; */
    margin-top: 80px;
}


.continuesection2 ul {
    padding: 0px !important;

}

.continuesection2 ul li {
    list-style-type: none;
    color: #210D13;
    margin: 15px 0px;

}

.continuesection2 ul li span {
    color: #2F3EFF;
    padding-right: 10px;
}



/* ----------------------------------------------------------------media section2-------------------------------------------------------- */



/* mobile */



@media (max-width:767px) {


    .section2 .cards .card {
        width: 22rem !important;
    }

    .section2 .head .main {
        color: #001973;
        top: 45%;
        left: 24%;
        font-weight: bold;
        font-size: 30px;
    }

    .section2 .head .shad {
        top: 45%;
        left: 29%;
    }

    .section2 .underline {
        left: 41%;
        top: 75%;
    }

    .section2 {
        height: 380vh;
    }


    .continuesection2 {
        height: 328vh;

    }

    .continuesection2 .text {
        margin: 0px !important;
        padding: 0 40px !important;
    }

    .continuesection2 .img {
        margin: 0px 0px !important;

    }

    .continuesection2 .img2 {
        order: 0 !important;
        padding-top: 30px;
    }

    .continuesection2 .text2 {
        order: 1 !important;
        padding-top: 0px !important;
    }

    .continuesection2 .img3 {
        order: 2 !important;
    }

    .continuesection2 .text3 {
        order: 3 !important;
    }

    .continuesection2 .img4 {
        order: 4 !important;
        padding-top: 30px;
    }

    .continuesection2 .text4 {
        order: 5 !important;
    }

}




/*desktop */
@media (min-width:1200px) {
    .section2 .cards .card {
        width: 26rem !important;
    }

    .section2 {
        height: 137vh;

    }

    .section2 .head .shad {

        left: 40%;
    }

}


/* tablet */
@media (min-width:768px) and (max-width:991px) {
    .section2 .cards .card {
        width: 21rem !important;
    }


    .section2 .head .main {

        top: 42%;
        left: 32%;
    }


    .section2 .head .shad {

        left: 37%;
    }

    .section2 {
        height: 197vh;

    }


    .continuesection2 {
        height: 240vh;
    }

    .continuesection2 img {
        transform: scale(1, 0.7);
    }
}

/* ----------------------------------------------------------------media section2-------------------------------------------------------- */









/* ---------------------------------------------------------------- section2-------------------------------------------------------- */























/* --------------------------------------------------------------section3 toggle-------------------------------------------------------- */


.section3 {
    height: 60vh;
    /* background-color: red; */
    background-image: url(../testimonials-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin-top: 10px;
}

.section3 .layout {
    width: 100%;
    height: 100%;
    background-color: rgb(21, 34, 52, 0.7);
}

/* .section3 .bn{
        width: 14px !important;
        height: 14px !important;
        border-radius: 50%; */
.carousel-indicators [data-bs-target] {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%;
}

.section3 .carousel-item img {
    width: 90px !important;
    height: 90px !important;
    border-radius: 50% !important;
    border: 8px solid rgb(170, 178, 177, 0.2);
    margin: 5px 0px;
}

.section3 .carousel-item p span {
    font-size: 25px !important;
    color: #B0B2B7 !important;
}

/* -------------------------------------------------------media toggle------------------------------------- */





/* mobile */



@media (max-width:767px) {


    .section3 {
        height: 75vh;

        margin-top: 90px;
    }

    .section3 .toggle1 {
        width: 96%;
    }




}

/* tablet */
@media (min-width:768px) and (max-width:991px) {
    .section3 .carousel-item {
        margin: 0px !important;
    }

    .section3 .toggle1 {
        width: 85% !important;
    }


    .section3 {
        margin-top: 10px;


    }


}

/*desktop */
@media (min-width:1200px) {

    .section3 {
        margin-top: 170px;


    }



}




/* --------------------------------------------------------------section3 toggle-------------------------------------------------------- */














/* --------------------------------------------------section4 frequently--------------------------------------------- */


.section4 {
    height: 85vh;
    /* background-color: red; */
}

.section4 .head {
    height: 20vh;
    /* background-color: green; */
}

.section4 .head .main,
.section4 .head .shad {
    top: 37%;
    left: 26%;
}

.section4 .head .main {
    color: #001973;
    top: 35%;
    left: 20%;
    font-weight: bold;
    font-size: 35px;
}


.section4 .head .shad {
    transform: scale(2);
    color: rgba(172, 175, 179, 0.2);
}

.section4 .accordion-button:not(.collapsed) {
    color: #0c63e4;
    background-color: white !important;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}

.section4 .accordion-item {
    box-shadow: 2px 2px 15px gray, -2px -2px 15px gray;
}

.accordion-item {
    background-color: rgb(181, 181, 187, 0.2) !important;
}

.accordion-button {
    background-color: #F8F8F9 !important;
}



/* -------------------------------------------media section4------------------------------------------ */


/* mobile */



@media (max-width:767px) {

    .section4 .head .main {
        color: #001973;
        top: 35%;
        left: 10%;
        font-weight: bold;
        font-size: 20px;
    }

    .section4 .head .shad {
        transform: scale(1.1);
        color: rgba(172, 175, 179, 0.2);
    }

    .section4 .head .shad {
        top: 35%;
        left: 1%;
    }

    .section4 {
        height: 125vh;
    }

    .section4 .underline {
        left: 32% !important;
        top: 60% !important;
    }

    .section4 {
        height: 132vh;
    }





}





/* tablet */
@media (min-width:768px) and (max-width:991px) {

    .section4 .head .main {
        color: #001973;
        top: 34%;
        left: 17%;
        font-weight: bold;
        font-size: 32px;
    }

    .section4 .head .shad {
        transform: scale(1.6);
    }

    .section4 {
        height: 100vh;}
}



/*desktop */
@media (min-width:1200px) {
    .section4 .head .main {
        color: #001973;
        top: 35%;
        left: 29%;
    }

    .section4 .head .shad {
        top: 36%;
        left: 33%;
    }


}



/* ----------------section4 frequently--------------------------------------------- */



























/* --------------------------------------------------------------------------section5 footer------------------------------------------- */

.section5 {
    height: 50vh;
    background-color: #111D34;
}

.section5 .icons .fa-twitter,
.section5 .icons .fa-facebook,
.section5 .icons .fa-instagram,
.section5 .icons .fa-linkedin {
    border: 0.7px solid rgb(255, 255, 255, 0.1);
    border-radius: 50%;
    color: #B8BCC2;
    transition-duration: 0.2s;
}

.section5 .icons .fa-twitter:hover {
    border: 0.8px solid white;
}

.section5 .icons .fa-facebook:hover {
    border: 0.8px solid white;
}

.section5 .icons .fa-instagram:hover {
    border: 0.8px solid white;
}

.section5 .icons .fa-linkedin:hover {
    border: 0.8px solid white;
}

.section5 ul {
    padding-left: 0px;
}

.section5 ul li {
    list-style-type: none;
    margin: 10px 0px;

}

.section5 ul li a {
    color: rgb(255, 255, 255, 0.4);
    text-decoration: none;
    transition-duration: 0.3s;
}

.section5 ul li a:hover {
    color: white;
}



/* ---------------------------------------media footer--------------------------------------------------- */


/* mobile */



@media (max-width:767px){


    .section5 {
        height: 132vh}
    
    }




/* tablet */
@media (min-width:768px) and (max-width:991px) {



.section5 {
    height: 100vh}

}




/* --------------------------------------------------------------------------section5 footer------------------------------------------- */